/* search.css */

.search-container {
    max-width: 48rem;
    margin: 0 auto;
    padding: 1.5rem;
  }
  
  .search-input-wrapper {
    position: relative;
  }
  
  .search-input {
    width: 100%;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 1rem;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    transition: all 0.3s ease-in-out;
  }
  
  .search-input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
  }
  
  .search-button {
    position: absolute;
    right: -60px;
    bottom: 0.34em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.375rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .search-button:hover {
    background-color: darkgray;
  }
  
  .search-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.4);
  }
  
  .filter-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .filter-container.expanded {
    max-height: 24rem;
    opacity: 1;
  }
  
  .filter-input {
    padding: 0.75rem;
    font-size: 1rem;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    background-color: #f9f9f9;
    transition: all 0.3s ease-in-out;
  }
  
  .filter-input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
  }