.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 24px;
}
.title {
  text-align: center;
}


.load-more-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.load-more-btn {
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.load-more-btn:hover {
  background-color: darkgray;
  transform: scale(1.05);
}

.load-more-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.loading-spinner {
  font-size: 16px;
  color: white;
}
